{% comment %}theme-check-disable ImgLazyLoading{% endcomment %}

{%- style -%}
  .bleed-width {
    background-color: {{ section.settings.background_colour }};
    box-shadow: 0 0 0 100vmax {{ section.settings.background_colour }};
    clip-path: inset(0 -100vmax);
  }
{%- endstyle -%}

<div class="page-width bleed-width tw-py-8 tw-mb-4 tw-text-dulwich-charcoal">
  <h1 class="tw-py-4 tw-text-inherit">
    <span class="visually-hidden">{{ 'sections.collection_template.title' | t }}: </span>
    {{- collection.title | escape -}}
  </h1>

  {%- if section.settings.show_collection_description -%}
    <div class="tw-text-inherit {% if section.settings.show_description_two_columns %}md:tw-columns-2 md:tw-gap-[44px]{% endif %}">
      {{ collection.description }}
    </div>
  {%- endif -%}

  {%- if section.settings.show_collection_image and collection.image -%}
    <div>
      <img
        srcset="
          {%- if collection.image.width >= 165 -%}{{ collection.image | image_url: width: 165 }} 165w,{%- endif -%}
          {%- if collection.image.width >= 360 -%}{{ collection.image | image_url: width: 360 }} 360w,{%- endif -%}
          {%- if collection.image.width >= 535 -%}{{ collection.image | image_url: width: 535 }} 535w,{%- endif -%}
          {%- if collection.image.width >= 750 -%}{{ collection.image | image_url: width: 750 }} 750w,{%- endif -%}
          {%- if collection.image.width >= 1070 -%}{{ collection.image | image_url: width: 1070 }} 1070w,{%- endif -%}
          {%- if collection.image.width >= 1500 -%}{{ collection.image | image_url: width: 1500 }} 1500w,{%- endif -%}
          {{ collection.image | image_url }} {{ collection.image.width }}w
        "
        src="{{ collection.image | image_url: width: 750 }}"
        sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc(50vw - 130px), calc(50vw - 55px)"
        alt=""
        width="{{ collection.image.width }}"
        height="{{ collection.image.height }}"
      >
    </div>
  {%- endif -%}
</div>

{% schema %}
{
  "name": "t:sections.main-collection-banner.name",
  "class": "section",
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.main-collection-banner.settings.paragraph.content"
    },
    {
      "type": "color",
      "id": "background_colour",
      "default": "#dfd7e7",
      "label": "Background Colour"
    },
    {
      "type": "checkbox",
      "id": "show_collection_description",
      "default": true,
      "label": "t:sections.main-collection-banner.settings.show_collection_description.label"
    },
    {
      "type": "checkbox",
      "id": "show_description_two_columns",
      "label": "Show description in 2 columns",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_collection_image",
      "default": false,
      "label": "t:sections.main-collection-banner.settings.show_collection_image.label",
      "info": "t:sections.main-collection-banner.settings.show_collection_image.info"
    }
  ]
}
{% endschema %}
